@green-light: #83C900;
@green-dark: #009933;
@black: #000;
@white: #fff;
@gray-light: #F1F1F1;

@font-face {
	font-family: OpenSans;
	src: url(fonts/opensans-regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: OpenSans;
	src: url(fonts/opensans-bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

*,
:before,
:after {
	box-sizing: border-box;
}

.common {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transform: translateZ(0);
	background-color: @white;
	z-index: 1;
	//display: none;

	&__inner {
		display: flex;
		max-width: 1300px;
		justify-content: space-between;
		.common;
	}

	&__nav {
		display: flex;
		padding-top: 28px;
		padding-bottom: 28px;

		&-a {
			text-decoration: none;
			color: @black;
			font-weight: bold;
			background-repeat: no-repeat;
			background-position: 0 50%;
			padding-left: 52px;
			line-height: 39px;
			height: 39px;
			margin-left: 32px;
			transition: color .3s 0s;

			&:hover {
				color: @green-dark;
			}

			&_programm {
				background-image: url(imgs/programm-clear.svg);
			}

			&_about {
				background-image: url(imgs/about.svg);
			}

			&_contacts {
				background-image: url(imgs/contacts.svg);
			}
		}
	}

	@media (max-width: 1400px) {
		&__inner {
			max-width: 1020px;
		}
	}

	@media (max-width: 820px) {
		position: static;
		
		&__inner {
			height: 95px;
		}

		&__nav {
			display: none;
		}
	}
}

.hero {
	margin-top: 95px;
	height: 672px;
	position: relative;
	overflow-x: hidden;
	background-color: @gray-light;
	background: no-repeat;
	background-position: 0 100%;
	background-image: url(imgs/hero.jpg);
	//display: none;

	&__text {
		text-align: center;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 101px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		flex-direction: column;
		color: #fff;
		font-size: 18px;
	}

	&__items {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 1260px;
		margin: auto;
		align-items: center;
		display: flex;
	}

	&__empty {
		width: 100%;
	}

	&__trash {
		width: 570px;
		flex-shrink: 0;

		&-text {
			font-size: 44px;
		}

		&-phone {
			text-decoration: none;
			display: inline-block;
			color: @black;
			font-size: 30px;
			line-height: 60px;
			padding-left: 75px;
			margin-top: 40px;
			margin-bottom: 80px;
			background: url(imgs/phone-red.svg) no-repeat 0 50%;
		}
	}

	@media (max-width: 1000px) {
		height: auto;
		padding-top: 60vw;
		background-size: cover;

		&__trash,
		&__text {
			display: none;
		}
	}

	@media (max-width: 820px) {
		margin-top: 0;
	}
}

.trash-mobile {
	display: none;
	background-color: @gray-light;
	padding: 25px 15px;

	& > div {
		max-width: 680px;
		margin: auto;
	}

	& > .hero__trash {
		display: block;
		width: auto;

		& > div {
			font-size: 20px;
		}

		& > a {
			font-size: 20px;
			background-size: 35px 35px;
			padding-left: 45px;
			line-height: 35px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}

	@media (max-width: 1000px) {
		display: block;
		padding-bottom: 16px;
	}
}

.list {
	background-color: @gray-light;
	//display: none;

	&__inner {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 710px;
		padding-top: 38px;
		padding-bottom: 40px;
		margin-top: 0;
		margin-bottom: 0;
		.common;

	}

	&__item {
		width: 50%;
		background-repeat: no-repeat;
		background-position: 0 1px;
		background-image: url(imgs/list-red.svg);
		padding-left: 38px;
		margin-bottom: 16px;
		max-width: 270px;
		line-height: 20px;
	}

	@media (max-width: 1000px) {
		&__inner {
			padding-top: 0;
		}
	}

	@media (max-width: 640px) {
		&__item {
			width: 100%;
		}
	}
}

.programm {
	padding-top: 95px;
	padding-bottom: 80px;
	//display: none;

	&__header {
		padding: 0 15px;
		text-align: center;
		color: @green-dark;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 72px;
	}

	&__items {
		max-width: 1395px;
		display: flex;
		.common;
	}

	&__item {
		padding: 0 17px;
		width: ~"calc(25% - 4px)";

		&-header {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: 70px auto;
			padding-top: 115px;
			padding-bottom: 70px;

			&_consult {
				background-image: url(imgs/consult.svg);
			}

			&_clear {
				background-image: url(imgs/programm-clear.svg);
			}

			&_diagnostic {
				background-image: url(imgs/diagnostic.svg);
			}

			&_repair {
				background-image: url(imgs/repair.svg);
			}
		}
	}

	&__line {
		width: 3px;
		height: 67px;
		flex-shrink: 0;
		margin-top: 96px;

		&_dark {
			background-color: @green-dark;
		}

		&_light {
			background-color: @green-light;
		}
	}

	&__cost {
		margin-top: 70px;
		display: flex;
		justify-content: center;
		padding: 0 33px;

		&-wallet {
			position: relative;
			width: 89px;
			height: 66px;
			background: url(imgs/wallet-white.svg) no-repeat 50% 50%;
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: @green-light;
				z-index: -1;
				transform: skew(-30deg);
			}
		}

		&-header {
			font-size: 18px;
			line-height: 66px;
			font-weight: bold;
			padding: 0 22px;
			text-align: center;
		}

		&-cost {
			position: relative;
			height: 66px;
			line-height: 66px;
			color: @white;
			width: 159px;
			text-align: center;
			font-weight: bold;
			font-size: 18px;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: @green-dark;
				z-index: -1;
				transform: skew(-30deg);
			}
		}
	}

	@media (max-width: 1000px) {
		&__items {
			flex-wrap: wrap;
		}

		&__line_dark {
			display: none;
		}

		&__item {
			width: ~"calc(50% - 2px)";
			margin-bottom: 30px;
		}
	}

	@media (max-width: 640px) {
		&__header {
			margin-bottom: 30px;
		}

		&__line {
			display: none;
		}

		&__item {
			width: 100%;

			&-header {
				padding-top: 94px;
				padding-bottom: 16px;
			}
		}

		&__cost {
			flex-direction: column;
			align-items: center;

			&-wallet {
				background-image: url(imgs/wallet-green.svg);

				&:after {
					display: none;
				}
			}

			&-header {
				height: auto;
				line-height: 22px;
				margin-top: 20px;
			}

			&-cost {
				color: @green-dark;
				height: auto;
				line-height: 22px;

				&:after {
					display: none;
				}
			}
		}
	}
}

.unik {
	//display: none;

	&__image {
		max-height: 340px;
		width: auto;
	}

	&__item {
		background-color: @gray-light;
		display: flex;

		&:not(:first-child) {
			margin-top: 48px;
		}

		&-content {
			width: 50%;
			display: flex;

			& > div {
				max-width: 520px;
				padding: 0 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			&_s {
				justify-content: flex-end;
			}

			&-item {
				background-repeat: no-repeat;
				background-position: 0 0;
				background-image: url(imgs/list-green.svg);
				padding-left: 34px;
				margin-top: 26px;
				margin-bottom: 26px;
			}
		}

		&-image {
			width: 50%;
			height: 340px;
			background-repeat: no-repeat;
			background-size: cover;

			&_f {
				background-image: url(imgs/1.jpg);
				background-position: 100% 50%;
			}

			&_s {
				background-image: url(imgs/2.jpg);
				background-position: 0 50%;
			}

			&_t {
				background-image: url(imgs/3.jpg);
				background-position: 100% 50%;
			}
		}
	}
	
	&__header {
		color: @green-dark;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		margin-bottom: 59px;
	}

	&__text {
		text-align: center;
	}

	@media (max-width: 840px) {
		&__item {
			flex-wrap: wrap;

			&:not(:first-child) {
				margin-top: 0;
			}
		}

		&__item-image {
			width: 100%;
			order: 1;
		}

		&__item-content {
			width: 100%;
			order: 2;
			padding: 40px 0;

			& > div {
				display: block;
			}
		}
	}

	@media (max-width: 640px) {
		&__item-image {
			height: auto;
			padding-bottom: 53.125vw;
		}
	}
}

.video {
	//display: none;

	&__inner {
		max-width: 617px;
		margin: auto;
		padding: 83px 15px 75px;
	}

	&__player {
		padding-top: 56.25%;
		position: relative;

		& > iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.social {
	padding: 0 15px;
	max-width: 580px;
	text-align: center;
	margin: 0 auto 50px;

	&__text {
		margin-bottom: 40px;
		color: @green-dark;
		font-weight: bold;
	}

	&__links {
		width: 232px;
		display: flex;
		justify-content: space-between;
		margin: auto;
	}

	&__link {
		width: 54px;
		height: 54px;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 50%;

		&_inst {
			background-image: url(imgs/inst.png);
		}

		&_vk {
			background-image: url(imgs/vk.png);
		}

		&_fb {
			background-image: url(imgs/fb.png);
		}
	}
}

.footer {
	background-color: @green-light;
	//display: none;

	&__inner {
		color: @black;
		max-width: 1300px;
		display: flex;
		padding-top: 55px;
		padding-bottom: 70px;
		.common;
	}

	&__contacts {
		padding-top: 50px;
		padding-right: 40px;
		flex-shrink: 0;

		&-header {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 40px;
		}

		&-address {
			margin-bottom: 20px;
		}

		&-phones {
			background-repeat: no-repeat;
			background-position: 0 50%;
			background-image: url(imgs/phone-black.svg);
			padding-left: 45px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-phone {
			display: block;
			text-decoration: none;
			font-weight: bold;
			color: @black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__map {
		height: 400px;
		max-height: 50vh;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	@media (max-width: 1000px) {
		&__inner {
			display: block;
		}

		&__contacts {
			margin-bottom: 50px;
		}
	}
}

.map__mark {
	background: url(imgs/point.svg) no-repeat 50% 50%;
	width: 28px;
	height: 42px;
	transform: translateX(-14px) translateY(-21px);
}

.copy {
	background-color: @green-dark;
	//display: none;

	&__inner {
		line-height: 60px;
		color: @white;
		max-width: 1300px;
		.common;
	}
}